.jumbotron {
  background-color: #daffff;
}

#project {
  background-color: #daffff;
}

section {
  padding-top: 5rem;
}

.paragraphs {
  text-align: justify;
}

footer {
  height: 50px;
  background-color: #007bff;
}
